body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(222, 170, 90); */
  /* background-color: rgba(255, 83, 3, 0.718); */
  background-color: rgb(31, 28, 28);
}

.theme{
  color: rgb(0, 0, 0);
}

.container{
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
  /* justify-content: center; */
}

ul{
  display: flex;
  
  text-decoration: none;
  list-style-type: none;
}
li{
  margin-left: 20px;
}

.hero{
  height: 100vh;
  /* display: flex; */
  /* background-image:linear-gradient(rgba(255, 83, 3, 0.718),rgba(0, 0, 0, 0.625)), url(./assets/heropic.jpg); */
  background-image:linear-gradient(rgba(0, 0, 0, 0.908),rgba(0, 0, 0, 0.572)), url(./assets/heropic.jpg);
  background-position: center;
  position: relative;
  background-size: cover;
  color: aliceblue;

}

.nav{
  padding: 70px;
  display: flex;
  justify-content:space-between;
  align-items: center;

  
}

.logo{
  font-size: 25px;
  font-weight: 700;
}
.hero-text{
  font-size: 3rem;
  font-weight: bolder;
  margin-top: 10rem;
}

.blog-pic{
  width: 400px;
  height: 250px;
  background-size: cover;
  background-position: top;
}

.blog-card{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  background-color: black;
  color: antiquewhite;
  
  /* margin-bottom: 20px; */
}

.blog-layout{
  display: flex;
  justify-content: center;

}

.blog-text{
  padding:30px ;
}

.service-section{
  /* height: 70vh; */
  background-image:linear-gradient(rgba(10, 5, 2, 0.686),rgba(0, 0, 0, 0.931)), url(https://images.unsplash.com/photo-1583121274602-3e2820c69888?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-position: center;
  position: relative;
  background-size: cover;
  overflow: hidden;
  

}